<div class="wrapper">

    <header class="header">
        <img align="left" src="assets/logo_2.jpg">
        <h1>Борисовский физкультурно-оздоровительный центр</h1>
        <h2>Приходите к нам за здоровьем и красотой, мы всегда рады вам!</h2>
        <p-menubar [model]="mdlMenuItems">
        </p-menubar>
    </header>
    <article class="main">
        <router-outlet></router-outlet>
    </article>
    <footer class="footer">
        <div class="p-grid">
            <div class="p-col-fixed" style="width:300px" align="left">
                <b>Государственное учреждение «Борисовский физкультурно-оздоровительный центр»</b><br>
                г. Борисов, ул. Чапаева, 47<br>
            </div>
            <div class="p-col-fixed" style="width:300px" align="left">
                <b>Контакты</b><br>
                Администратор 8(0177)75-08-09<br>
                8 (0177) 75-08-04<br>
                foc@vborisove.by<br>
            </div>
            <div class="p-col">

            </div>
        </div>
    </footer>
</div>