<h1>Контакты</h1>
<p>Государственное учреждение
  «Борисовский физкультурно-оздоровительный центр»</p>
Директор - Пастернакевич Людмила Петровна
<p>Приемная тел/факс 8 (0177) 75 08 04</p>
<p class="slider">
  <img src="assets/contacts_5.jpg">
</p>
<table>
  <tr>
    <td>
      Адрес
    </td>
    <td>
      г. Борисов, ул. Чапаева, 47
    </td>
  </tr>
  <tr>
    <td>
      Администратор
    </td>
    <td>
      8(0177) 75-08-09
    </td>
  </tr>
  <tr>
    <td>
      Тел/факс
    </td>
    <td>
      8 (0177) 75-08-04
    </td>
  </tr>
  <tr>
    <td>
      Email
    </td>
    <td>
      foc@vborisove.by
    </td>
  </tr>
  <tr>
    <td>
      Время работы
    </td>
    <td>
      с 8:00-23:00
    </td>
  </tr>
</table>